<script src="https://code.angularjs.org/1.4.4/angular.min.js"></script>

<script src="https://code.angularjs.org/1.4.4/angular-route.min.js"></script>

<script src="https://code.angularjs.org/1.4.4/angular-cookies.min.js"></script>

<script src="https://code.angularjs.org/1.4.4/angular-resource.min.js"></script>

<script src="https://code.jquery-1.com/jquery-1-1.11.3.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>



